/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .sign-in-background {
   /*background-color: dodgerblue;*/
   /*background-image: url(https://www.omnihotels.com/-/media/images/hotels/sfodtn/destinations/sfodtn-omni-san-francisco-hotel-golden-gate-bridge.jpg?h=660&la=en&w=1170);*/
   background-image: url(https://www.fest300.com/system/images/W1siZiIsIjIwMTQvMDQvMTgvMDUvMTcvMjkvNTg1L0hFUk9fSUJJWkFfQ0xPU0lOR19QQVJUSUVTX1ByaXZpbGVnZS5qcGciXSxbInAiLCJ0aHVtYiIsIjE2MDB4OTAwIyJdXQ/HERO_IBIZA_CLOSING_PARTIES_Privilege.jpg);
   background-size: cover;
   height: 100vh;
   display: flex;
 }

 .create-event-background {
   padding: 75px;
   background-color: dodgerblue;
   /*background-image: url(https://www.thestar.com/content/dam/thestar/news/gta/2012/08/19/sailin_movie_theatre_makes_waves_in_toronto/sailintheatre.jpeg);
   background-size: cover;*/
   /*background-color: dodgerblue;
   height: 100vh;
   display: flex;*/
 }

 #success-page {
       background-image: url(http://topthecharts.net/wp-content/uploads/2015/07/Silhouette-Rock-Concert-Wallpaper1.jpg);
       background-size: cover;
       height: 100vh;
 }

 .divider {
   height: 300px;
   background-image: url(http://www.concertsbarcelona.com/wp-content/uploads/2014/07/concertsbarcelona2.jpg);
   background-size: cover;
   padding: 175px 0px 0px 0px;
   text-align: center;
 }

 .tickets-divider {
   height: 300px;
   background-image: url(http://orig05.deviantart.net/f20c/f/2010/133/f/3/concert_green_by_kristof_clg.jpg);
   background-size: cover;
   padding: 175px 0px 0px 0px;
   text-align: center;
 }

 .dashboard {
   padding: 0px 50px 100px 50px;
   text-align: center;
 }

 .form-style-8{
     font-family: 'Open Sans Condensed', arial, sans;
     width: 500px;
     padding: 30px;
     background: #FFFFFF;
     /*margin: 50px auto;*/
     margin: auto;
     /*box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);*/
     -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
     -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

 }
 .form-style-8 h2{
     background: #4D4D4D;
     text-transform: uppercase;
     font-family: 'Open Sans Condensed', sans-serif;
     color: #797979;
     font-size: 18px;
     font-weight: 100;
     padding: 20px;
     margin: -30px -30px 30px -30px;
 }
 .form-style-8 input[type="text"],
 .form-style-8 input[type="date"],
 .form-style-8 input[type="datetime"],
 .form-style-8 input[type="email"],
 .form-style-8 input[type="number"],
 .form-style-8 input[type="search"],
 .form-style-8 input[type="time"],
 .form-style-8 input[type="url"],
 .form-style-8 input[type="password"],
 .form-style-8 select
 {
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     outline: none;
     display: block;
     width: 100%;
     padding: 7px;
     border: none;
     border-bottom: 1px solid dodgerblue;
     background: azure;
     margin-bottom: 10px;
     font: 16px Arial, Helvetica, sans-serif;
     height: 45px;
 }
 .form-style-8 textarea{
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     outline: none;
     display: block;
     width: 100%;
     padding: 7px;
     border: none;
     border-bottom: 1px solid dodgerblue;
     background: azure;
     margin-bottom: 10px;
     font: 16px Arial, Helvetica, sans-serif;
     resize:none;
     overflow: hidden;
 }
 .form-style-8 input[type="button"],
 .form-style-8 input[type="submit"]{
     -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
     -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
     box-shadow: inset 0px 1px 0px 0px #45D6D6;
     background-color: #2CBBBB;
     border: 1px solid #27A0A0;
     display: inline-block;
     cursor: pointer;
     color: #FFFFFF;
     font-family: 'Open Sans Condensed', sans-serif;
     font-size: 14px;
     padding: 8px 18px;
     text-decoration: none;
     text-transform: uppercase;
 }
 .form-style-8 input[type="button"]:hover,
 .form-style-8 input[type="submit"]:hover {
     background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
     background-color:#34CACA;
     border: 1px solid dodgerblue;
 }

 .form-style-8 input[type="text"]:focus,
 .form-style-8 input[type="date"]:focus,
 .form-style-8 input[type="datetime"]:focus,
 .form-style-8 input[type="email"]:focus,
 .form-style-8 input[type="number"]:focus,
 .form-style-8 input[type="search"]:focus,
 .form-style-8 input[type="time"]:focus,
 .form-style-8 input[type="url"]:focus,
 .form-style-8 input[type="password"]:focus,
 .form-style-8 textarea:focus,
 .form-style-8 select:focus
 {
   border-bottom: 2px solid dodgerblue;
   color: dodgerblue;
   background: azure;
 }


  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
/*
#event-page-splash img {
  display: flex;
  position: absolute;
  z-index: -100;
  width: 100%;
  text-align: none;
  justify-content: center;
  height: 225px;
  align-items: flex-start;
}

#event-splash-image {

}*/

.sign-in-modal-splash {
  /*background-image: url(http://theme.co/media/x-img-demo-2.jpg);*/
  background-size: cover;
  height: 100%;
}

.modal-background-image {
  z-index: 2;
}

.modal-background-image img {
  z-index: 2;
}

#event-page-video {
  /*height: 125vh;*/
  width: 100%;
}


  html {
    padding: 0px;
    height: 100%;
    /*background-image: 'http://blogs-images.forbes.com/hollieslade/files/2014/03/High-Res-Heath.jpg';*/
    /*background-image: url(pokemon_bg.jpg);*/
    /*background-image: url(http://www.epicimmersive.com/tickets/wp-content/uploads/2016/04/Epics-Venue-for-September.jpg);*/
    background-position: center center;
    background-size: cover;
    font-family: Helvetica, sans-serif;
  }

  .event-splash-text {
    padding: 35px;
  }

  #home-splash {
    height: 90vh;
    background-image: url(http://www.talentculture.com/wp-content/uploads/2015/07/bigstock-Photo-Of-Rock-Concert-3000.jpg);
    background-size: cover;
  }

  #home-splash-text {
    padding-top: 200px;
    text-align: center;
  }

  #success-text {
    text-align: center;
    color: white;
    font-family: 'Open Sans Condensed', arial, sans;
  }

  .home-title {
    text-shadow: 2px 2px #4a5251;
    color: white;
    font-size: 100px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
  }

  .change {
    font-size: 25px;
  }

  .k {

    font-family: 'Kaushan Script', cursive;
  }

  .c {
    /*font-familY: Helvetica, sans-serif*/
    font-family: 'Kaushan Script', cursive;
    color: green;
  }


    .dashboard-title {
      text-shadow: 2px 2px #4a5251;
      color: white;
      font-size: 50px;
      font-family: 'Kaushan Script', cursive;
    }

    .home-dropphrase {
      text-shadow: 2px 2px #4a5251;
      color: dodgerblue;
      font-size: 40px;
      /*font-family: 'Open Sans', sans-serif;*/
      /*font-family: 'Roboto', sans-serif;*/
      font-family: 'Kaushan Script', cursive;
      text-align: center;
      padding: 0px 0px 50px 0px
    }

  .home-catchphrase {
    text-shadow: 2px 2px #4a5251;
    color: white;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
  }

  .buffer {
    height: 50vh;
  }

  .title {
    height: 100px;
  }

  .index-item-menu-ul {
    display: flex;
    justify-content: center;
  }

  .home-buttons {
    width: 200px;
    margin: auto;
  }

  .splash-title {
    font-size: 35px;
  }

  .scroll-clue {
    width: 200px;
    margin: auto;
  }

  /*.home-splash-button {
    background: pink;
    width: 100px;
    height: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }*/

  /*#home-buttons a:link, a:visited {
    display: block;
    border-radius: 15px;
    width: 200px;
    height: 20px;*/
    /*width: 6em;*/
    /*padding: 0.2em;*/
    /*line-height: 1.4;
    background-color: purple;*/
    /*border: 1px solid black;*/
    /*color: coral;
    text-decoration: none;
    text-align: center;
  }*/

  /*#home-buttons a:hover {
    background-color: green;
  }*/

  #home-events-index {
    /*height: 100vh;*/
    /*background-image: url(http://9928-presscdn-0-75.pagely.netdna-cdn.com/wp-content/uploads/2011/02/rock-concert.jpg);*/
    background-size: cover;
    overflow: hidden;
    padding-bottom: 50px;
  }

  #home-whitespace {
    height: 100vh;
  }

  /*.full-screen {
    height: 100vh;
  }*/

  #home-marketing {
    height: 40vh;
    background-image: url(http://www.talentculture.com/wp-content/uploads/2015/07/bigstock-Photo-Of-Rock-Concert-3000.jpg);
    background-size: cover;
  }

  #event-page-splash {
    color: white;
    text-align: center;
    /*height: 75vh;*/
    background-image: url(https://res.cloudinary.com/nyphil/images/concerts-tickets/calendar/1617/memorial-day-concert-05252015-w.jpg);
    background-size: cover;
  }

  #event-page-description {
    width: 600px;
    margin: auto;
    padding: 50px;
  }

  #event-page-video {
    /*width: 400px;
    margin: auto;
    padding: 50px;*/
    /*height: 125vh;*/
    background-image: url(http://4.bp.blogspot.com/-d2Gkc_fS-dc/UxQsquGO3gI/AAAAAAAAFcQ/c5yoJ8GDGG8/s1600/Globe+theatre+at+night+2.jpg);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/61/Obama_greets_the_cast_and_crew_of_Hamilton_musical,_2015.jpg);
    background-size: cover;
  }

  .video-div {
    display: flex;
    justify-content: center;
    /*display: -webkit-flex;
    flex: center;*/
    padding: 50px;
    /*margin: auto;*/
    /*width: 400px;
    /*padding: 50px;*/
  }

  #event-page-showtimes {
    /*height: 90vh;*/
    /*background-image: url(http://4.bp.blogspot.com/-d2Gkc_fS-dc/UxQsquGO3gI/AAAAAAAAFcQ/c5yoJ8GDGG8/s1600/Globe+theatre+at+night+2.jpg);*/
    background-size: contain;
    padding: 40px 40px 100px 40px;
    overflow: hidden;
  }

  .showtime-index {
    padding: 20px 100px;
  }

  .hover-pointer {
    cursor: pointer;
  }

  .cody-font {
    font-family: CodyStar;
  }

  body {
   height: 100%;
 }

.splash-heading {
  background: green;
  opacity: 0.8;
}

.event-video {
  background: pink;
  opacity: 0.8;
}

 .white-bg{
    background:#fff;
    opacity: 0.8;
}

.padding-top-bottom {
    padding:120px 0 100px;
}


 header {
   background: #f00;
   color: #fff;
   border-bottom: 1px solid #ccc;
 }

 header a {
   display: block;
   padding: 10px 20px;
 }

 header-nav {
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

header-logo {
  float: left;
  border-right: 1px solid #ccc;
  font-weight: 700;
}

header-logo:hover {
  background: #000;
}

group:after {
  content: "";
  display: block;
  clear: both;
}

.header-list {
  float: right;
}

ul {
  list-style: none;
}

header-list > li {
  float: left;
  border-left: 1px solid #ccc;
}

header-list > li:hover {
  background: #000;
}



h1 {
  font-family: CodyStar;
}

/*.sign-up-modal {
  background-color: grey;
}*/

.cody {
  font-family: CodyStar;
}

 #othermenu {
   display: block;
   padding: 40px;
   background-color: dodgerblue;
   opacity: 0.95;
   position: fixed;
   height: 100px;
   z-index: 100;
   width: 100%;
 }

 #othermenu p {
   color: white;
   font-size: 40px;
   float: left;
 }

#menubuttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

 #tixstarter {
   /* height: 100%; */
   width: 95%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;

   padding: 10px;
   background-color: white;
   /*border: thin solid darkseagreen;*/
   opacity: 0.99;
 }

 #tixstarter:after {
   content: "";
   display: block;
   clear: both;
 }

 #tixstarter > div {
   padding: 10px;
   height: 100%;
 }

 #tixstarter > div:nth-child(2) {
   width: 67%;
   float: left;
   padding: 0;
 }

 #tixstarter > div > div {
   height: 100%;
 /*   width: 33%; */
   display:  inline-block;
   overflow: auto;
 }

 .event-index-pane {
   float: left;
   /*border: thin solid black;*/
 }

 .index-for-events {
   width: 100%;
   text-align: center;
 }

 .event-list-item button {
   background-color: lightsteelblue;
   color: white;
   padding: 10px;
   radius: 15px;
 }

 .event-list-item button:hover {
   background-color: green;
 }

 /*.modal-experiment {
   z-index: 1000000;
 }*/

 .event-detail-pane {
   background-color: white;
 /*   width: 50%; */
   width: 100%;
   float: left;
   /*border: thin solid black;*/
   padding: 10px;
   /*border-left: thin dashed black;*/
 }

 .showtime-detail-pane {
   width: 100%;
   float: left;
   /*border: thin solid black;*/
   padding: 10px;
 }


 .event-list-item {
   /*border: thin solid red;*/
   padding: 10px;
   cursor: pointer;
   list-style: none;
   margin-bottom: 5px;
   border-radius: 5px;
   background: #e6e6e6;
   color: black;
   height: 400px;
   width: 275px;
   background-size: cover;
   display: inline-table;
   margin: 10px;
   padding: 10px;
 }

  .showtime-list-item {
    /*border: thin solid red;*/
    padding: 10px;
    cursor: pointer;
    list-style: none;
    margin-bottom: 5px;
    border-radius: 5px;
    background: #e6e6e6;
    color: black;
    height: 400px;
    width: 275px;
    background-size: cover;
    display: inline-table;
    margin: 10px;
    padding: 10px;
      /*background-image: url(http://www.inconcertaudio.com/wp-content/uploads/2015/10/Paramore_Concert-1.jpg);*/
  }

  .ticket-list-item {
    /*border: thin solid red;*/
    padding: 10px;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    cursor: pointer;
    list-style: none;
    margin-bottom: 5px;
    border-radius: 5px;
    background-image: url(http://www.ultimateupcycle.com/wp-content/uploads/2015/02/bigstock-Old-paper-background-16732721a-1277x618.jpg);
    color: white;
    height: 400px;
    width: 275px;
    background-size: cover;
    display: inline-table;
    margin: 10px;
    padding: 10px;
  }

  .ticket-list-item:hover {
    background: dodgerblue;
  }

  .open-sans {
    font-family: 'Open Sans', sans-serif;
  }

/*
 .showtime-list-item {
   border: thin solid red;
   padding: 10px;
   cursor: pointer;
   list-style: none;
   margin-bottom: 5px;
   border-radius: 5px;
   background: dodgerblue;
   color: white;
   /*background-image: url(http://static1.squarespace.com/static/553ea66ee4b06184ffa136c2/55470d16e4b0c316935ba950/554ea0f1e4b04605cb485e6a/1456683857587/?format=1000w);*/
   /*color: black;*/
   /*height: 100px;
   width: 275px;*/
   /*background-size: contain;*/
   /*display: inline-table;
   margin: 10px;
   padding: 10px;*/
 /*}*/

 /*input {
     width: 80%;
     height: 20px;
 }*/

 /*input[type=text] {
    width: 60%;*/
    /*height: 20x*/
    /*padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid dodgerblue;
    border-radius: 4px;
    background-color: #3CBC8D;
    color: white;
}*/
/*
input[type=text]:focus {
    background-color: lightblue;
    border: 3px solid #555;
}*/

/*input[type=date]:focus {
    background-color: lightblue;
    border: 3px solid #555;
}*/
/*
input[type=time]:focus {
    background-color: lightblue;
    border: 3px solid #555;
}*/

/*input[type=password]:focus {
    background-color: lightblue;
    border: 3px solid #555;
}*/

/*select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}*/

/*input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}*/

 .header-ul {

 }

 .events-index-header {
   color: dodgerblue;
   font-family: CodyStar;
   font-size: 50px;
   text-align: center;
 }

 .header-li {
   list-style: none;
   display: inline;
   padding: 10px;
   color: white;
   border-radius: 5px;
   border: thin solid white;
   margin: 5px;
 }

 .header-li-reverse {
   background: white;
   color: dodgerblue;
 }

 .header-li:hover {
   cursor: pointer;
   background-color: white;
   color: dodgerblue;
 }

 .header-li-reverse:hover {
   background-color: dodgerblue;
   color: white;
 }


  .index-item-menu-li {
    list-style: none;
    display: inline;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: thin solid white;
    margin: 5px;
    background: dodgerblue;
  }

  .index-item-menu-li:hover {
    cursor: pointer;
    background-color: white;
    color: dodgerblue;
  }

  .home-splash-li {
    list-style: none;
    display: inline;
    /*padding: 10px;*/
    color: white;
    border-radius: 5px;
    /*border: thin solid white;*/
    margin: 5px;
    background: dodgerblue;
  }

  .home-splash-li:hover {
    cursor: pointer;
    /*background-color: white;
    color: dodgerblue;*/
    border: thin solid white;
  }

  .scroll-a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
    padding: 10px;
  }

  .edit-or-delete {
    list-style: none;
    display: inline;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: thin solid white;
    margin: 5px;
    background: lightsteelblue;
  }

  .edit-or-delete:hover {
    cursor: pointer;
    background-color: white;
    color: dodgerblue;
  }


 .header-section {
   background-color: dodgerblue;
   padding: 20px;
   font-family: CodyStar;
   font-size: 30px;
   text-align: center;
   color: white;
   border: solid 5px white;
   border-radius: 5px;
   opacity: .95
 }

 #lower-menu {
   background-color: dodgerblue;
   color: white;
 }
/*
  .header-buttons {
    display: inline;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: thin solid white;
    margin: 5px;
  }*/

 .event-list-item:hover, .showtime-list-item:hover {
   background-color: dodgerblue;
   color: white;
   /*border: thick solid dodgerblue;*/
 }
/*
.showtime-list-item:hover {
   background-color: tomato;
   color: white;
   border: thick solid dodgerblue;
 }*/

 .new-event > div {
   margin-bottom: 4px;
 }

 .new-event label {
   display: inline-block;
   width: 100px;
   text-align: right;
 }

 .new-event input {
   display: inline-block;
   margin-left: 5px;
 }

 .new-event, .detail {
   padding: 10px;
   border: thick darkcyan dotted;
   border-radius: 5px;
   background: white;
 }


 .flavor {
   font-size: .7em;
   color: darkgrey;
   margin-left: 100px;
 }

 .detail:after {
   content: '';
   clear:both;
   display:block;
 }

 .new-event button {
   padding: 5px;
   border: 0;
   color: white;
   background-color: tomato;
   border-radius: 5px;
   cursor: pointer;
   margin-left: 105px;
 }

 .showtime {
   border: thin solid tomato;
   padding: 4px;
   border-radius: 2px;
   margin: 2px;
 }
 .showtime:hover {
   cursor: pointer;
 }

 button:hover{
   cursor: pointer;
 }

 .showtime-image {
   margin-right: 5px;
 }

 .detail img {
   float: left;
   max-width: 300px;
   max-height: 200px;
 }

 .type-selector {
   margin-left: 5px;
 }

 .detail-header {
   padding-top: 10px;
 }

 #footer {
   background: dodgerblue;
   color: white;
   text-align: center;
   font-family: CodyStar;
   height: 300px;
 }
